<section class="delivery">
  <div class="container">
    <div class="title-wrapper">
      <h2 class="title" id="delivery">Delivery</h2>
      <span class="line"></span>
    </div>
    <ol class="delivery__list">
      <li class="delivery__item">
        Choose your bouquet and make an order on website
      </li>
      <li class="delivery__item">
        Wait for the call to clarify the details of the order. You can pay
        online or to the courier
      </li>
      <li class="delivery__item">
        Wait for the delivery at the selected time or pick up the order from the
        store
      </li>
      <li class="delivery__item">Make someone happy or enjoy yourself</li>
    </ol>
  </div>
  <div class="delivery__img-inner">
    <picture>
      <source
        media="(min-width: 1280px)"
        srcset="
          ./images/delivery/delivery-image-desktop@1x.webp 1x,
          ./images/delivery/delivery-image-desktop@2x.webp 2x
        "
      />
      <source
        media="(min-width: 1280px)"
        srcset="
          ./images/delivery/delivery-image-desktop@1x.jpg 1x,
          ./images/delivery/delivery-image-desktop@2x.jpg 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/delivery/delivery-image-tablet@1x.webp 1x,
          ./images/delivery/delivery-image-tablet@2x.webp 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/delivery/delivery-image-tablet@1x.jpg 1x,
          ./images/delivery/delivery-image-tablet@2x.jpg 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ./images/delivery/delivery-image-mobile@1x.webp 1x,
          ./images/delivery/delivery-image-mobile@2x.webp 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ./images/delivery/delivery-image-mobile@1x.jpg 1x,
          ./images/delivery/delivery-image-mobile@2x.jpg 2x
        "
      />
      <img
        class="delivery__img"
        src="./images/delivery/delivery-image-desktop@1x.jpg"
        alt="Flowers"
      />
    </picture>
  </div>
</section>
