<section class="hero">
    <div class="container">
      <div class="hero__wrap" id="hero">
        <p class="hero__text">flower
          <br>
          studio</p>
        <picture>
          <source srcset="./images/hero/image_homePageheroTablet1x(1).webp 1x, ./images/hero/image_homePageheroTablet2x(1).webp 2x"
          media="(min-width: 768px)">
          <source srcset="./images/hero/image_home-pageheroMobile1x(1).webp 1x, ./images/hero/image_home-pageheroMobile2x(1).webp 2x"
          media="(max-width: 767px)">

          <source srcset="./images/hero/image_homePageheroTablet1x(1).jpg  1x, ./images/hero/image_homePageheroTablet2x(1).jpg 2x"
          media="(min-width: 768px)">
          <source srcset="./images/hero/image_home-pageheroMobile1x(1).jpg  1x, ./images/hero/image_home-pageheroMobile2x(1).jpg 2x"
          media="(max-width: 767px)">
          <img src="./images/hero/image_homePageheroTablet1x(1).jpg">
        </picture>
      <button class="hero__button" type="button">
        <svg class="hero__svg">
          <use href="./images/icons.svg#icon-btn" ></use>
        </svg>
      </button>
      <h1 class="hero__title">Anemone</h1>
    </div>
    </div>
  </section>
