<section class="store">
    <div class="container">
        <div class="title-wrapper">
            <h2 class="title" id="store">Store</h2>
            <span class="line"></span>
          </div>
        <ul class="store__list">
            <li class="store__item">
                <picture>
                    <source
                    srcset="./images/store/desktop/compliments_desktop.webp 1x, ./images/store/desktop/compliments_desktop-2x.webp 2x"
                    media="(min-width: 1280px)"
                  />
                  <source
                  srcset="./images/store/desktop/compliments_desktop.jpg 1x, ./images/store/desktop/compliments_desktop-2x.jpg 2x"
                  media="(min-width: 1280px)"
                />
                    <source
                    srcset="./images/store/tablet/compliments_tablet.webp 1x, ./images/store/tablet/compliments_tablet-2x.webp 2x"
                    media="(min-width: 321px)"
                  />
                  <source
                  srcset="./images/store/tablet/compliments_tablet.jpg 1x, ./images/store/tablet/compliments_tablet-2x.jpg 2x"
                  media="(min-width: 321px)"
                />
                    <source
                      srcset="./images/store/mobile/compliments.webp 1x, ./images/store/mobile/compliments-2x.webp 2x"
                      media="(max-width: 320px)"
                    />
                    <source
                    srcset="./images/store/mobile/compliments.jpg 1x, ./images/store/mobile/compliments-2x.jpg 2x"
                    media="(max-width: 320px)"
                  />
                   
                    <img
                      class="store__img"
                      src="./images/store/mobile/compliments.jpg"
                      alt="Сompliments"
                    />
                  </picture>
                  <h3 class="store__subtitle">compliments</h3>
                  <p class="store__text">from $15</p>
            </li>
            <li class="store__item">
                <picture>
                    <source
                    srcset="./images/store/desktop/size-s_desktop.webp 1x, ./images/store/desktop/size-s_desktop-2x.webp 2x"
                    media="(min-width: 1280px)"
                  />
                  <source
                  srcset="./images/store/desktop/size-s_desktop.jpg 1x, ./images/store/desktop/size-s_desktop-2x.jpg 2x"
                  media="(min-width: 1280px)"
                />
                    <source
                    srcset="./images/store/tablet/size-s_tablet.webp 1x, ./images/store/tablet/size-s_tablet-2x.webp 2x"
                    media="(min-width: 321px)"
                  />
                  <source
                  srcset="./images/store/tablet/size-s_tablet.jpg 1x, ./images/store/tablet/size-s_tablet-2x.jpg 2x"
                  media="(min-width: 321px)"
                />
                    <source
                      srcset="./images/store/mobile/size-s.webp 1x, ./images/store/mobile/size-s-2x.webp 2x"
                      media="(max-width: 320px)"
                    />
                    <source
                    srcset="./images/store/mobile/size-s.jpg 1x, ./images/store/mobile/size-s-2x.jpg 2x"
                    media="(max-width: 320px)"
                  />
                   
                    <img
                      class="store__img"
                      src="./images/store/mobile/size-s.jpg"
                      alt="bouquet size-s"
                    />
                  </picture> 
                  
             <h3  class="store__subtitle">bouquets size S</h3>
          
              <p class="store__text">from $25</p>
           
            </li>
             
            <li class="store__item">
                 <picture>
                <source
                srcset="./images/store/desktop/size-m_desktop.webp 1x, ./images/store/desktop/size-m_desktop-2x.webp 2x"
                media="(min-width: 1280px)"
              />
              <source
              srcset="./images/store/desktop/size-m_desktop.jpg 1x, ./images/store/desktop/size-m_desktop-2x.jpg 2x"
              media="(min-width: 1280px)"
            />
                <source
                srcset="./images/store/tablet/size-m_tablet.webp 1x, ./images/store/tablet/size-m_tablet-2x.webp 2x"
                media="(min-width: 321px)"
              />
              <source
              srcset="./images/store/tablet/size-m_tablet.jpg 1x, ./images/store/tablet/size-m_tablet-2x.jpg 2x"
              media="(min-width: 321px)"
            />
                <source
                  srcset="./images/store/mobile/size-m.webp 1x, ./images/store/mobile/size-m-2x.webp 2x"
                  media="(max-width: 320px)"
                />
                <source
                srcset="./images/store/mobile/size-m.jpg 1x, ./images/store/mobile/size-m-2x.jpg 2x"
                media="(max-width: 320px)"
              />
               
                <img
                  class="store__img"
                  src="./images/store/mobile/size-m.jpg"
                  alt="bouquet size-m"
                />
              </picture>
              <h3 class="store__subtitle">bouquets size M</h3>
              <p class="store__text">from $45</p></li>
            <li class="store__item"> 
                <picture>
                <source
                srcset="./images/store/desktop/size-l_desktop.webp 1x, ./images/store/desktop/size-l_desktop-2x.webp 2x"
                media="(min-width: 1280px)"
              />
              <source
              srcset="./images/store/desktop/size-l_desktop.jpg 1x, ./images/store/desktop/size-l_desktop-2x.jpg 2x"
              media="(min-width: 1280px)"
            />
                <source
                srcset="./images/store/tablet/size-l_tablet.webp 1x, ./images/store/tablet/size-l_tablet-2x.webp 2x"
                media="(min-width: 321px)"
              />
              <source
              srcset="./images/store/tablet/size-l_tablet.jpg 1x, ./images/store/tablet/size-l_tablet-2x.jpg 2x"
              media="(min-width: 321px)"
            />
                <source
                  srcset="./images/store/mobile/size-l.webp 1x, ./images/store/mobile/size-l-2x.webp 2x"
                  media="(max-width: 320px)"
                />
                <source
                  srcset="./images/store/mobile/size-l.jpg 1x, ./images/store/mobile/size-l-2x.jpg 2x"
                  media="(max-width: 320px)"
                />
               
                <img
                  class="store__img"
                  src="./images/store/mobile/size-l.jpg"
                  alt="bouquet size-l"
                />
              </picture>
              <h3 class="store__subtitle">bouquets size L</h3>
              <p class="store__text">from $60</p></li>
        </ul>
        <button class="store__btn" type="button" data-modal-open>Order flowers</button>
    </div>
</section>