.blog {

    padding-bottom:60px;

    @media screen and (min-width: $tablet){
        padding-bottom:100px;
    }
    

    &__follow {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 32px;

        @media screen and (min-width: $tablet) {
            gap: 40px;
        }

        @media screen and (min-width: $desktop) {
            gap: 48px;
        }
    }

    &__paragraf {
        
        @include font(500,18px,calc(22/18));
        text-align: center;

        @media screen and (min-width: $tablet) {
            font-size: 32px;            
        }
    }

    &__btn-subscribe {
        font-family: inherit;
        @include font(500, 18px, calc(22/18));
        
        background-color: $brand-color;
        color: $basic-white;
        text-align: center;
        border: transparent;
        padding: 8px 40px;
        border-radius: 38px;
        @include transition(color box-shadow);

        @media screen and (min-width: $tablet) {
            padding: 20px 70px;
            font-size: 28px;
            line-height: 0.86;
        }

         &:hover{
            background-color: $brand-color-hover;
            box-shadow: 0px 4px 16px rgba(250, 111, 84, 0.2);
         }
          &:focus{
            background-color: $brand-color-focus;
            box-shadow: 0px 4px 16px rgba(250, 111, 84, 0.2);
        }
    }

    

    &__slider-left {
        position: absolute;
        cursor: pointer;
        
        top:0;
        left:0;
        bottom:0;
        @media  screen and (min-width:1279px) {
            left:2%;
        }
    }

    &__slider-right {
        position: absolute;
        cursor: pointer;
        top: 0;
        right:0;
        bottom: 0;
        @media screen and (min-width:1279px) {
            right:2%;
        }
    }

    &__icon {
        fill:  $basic-white;
        stroke: $basic-white;
        width: 41px;
        height: 27px;

        @media screen and (min-width: $tablet) {
            width: 96px;
            height: 64px;
            }

        @media screen and (min-width: 1279px) {
            
            fill: $primary-color;
            stroke: $primary-color;
        }
    }
}

// SLIDER

.slick-track{
    display: flex;
    
    align-items: center; 
    width:100%;

    @media screen and (min-width:460px)and (max-width:767.95px) {
        height: 181px;
        width: 460px;
    }

    @media screen and (min-width:768px) and (max-width:1279.95px){
            height: 398px;
            width: 768px;
            
        }
    
    @media screen and (min-width: $desktop) {
        height: 421px;
        width: 1084px;  

    }    
}

.slick-list{
    overflow: hidden;
    margin:0 auto;  
    
}

.blog__slider{

    position: relative;
    margin: 0 auto;
    margin-bottom:28px;
    width:100%;    

    @media screen and (min-width:460px) and (max-width:767.95px) {
            height: 181px;
            width: 460px;
        }
    
        @media screen and (min-width: $tablet) and (max-width:1279.95px) {
            height:398px;
            width: 768px;
            margin-bottom: 32px;
        }
    
        @media screen and (min-width:$desktop) {
            height:421px;
            width: 1084px;
            margin-bottom: 44px;
    
        }

    & .slick-arrow{
        position:absolute;
        top:50%; 
        transform: translate(0%,-50%);       
        z-index: 1; 
        font-size: 0;
        width: 41px;
        height: 27px;

        @media screen and (min-width:$tablet) {
                width: 96px;
                height: 64px;
            }
        

        &.slick-prev{
            left:0;
            background: url("../images/slider-arrow/arrow-left-mob.svg") 0 0 / 100% no-repeat;

            @media screen and (min-width: $tablet){
                background: url("../images/slider-arrow/arrow-left-tablet.svg") 0 0 / 100% no-repeat;
            }

            @media screen and (min-width: $desktop) {
                background: url("../images/slider-arrow/arrow-left.svg") 0 0 / 100% no-repeat;
            }
                        
        }

        &.slick-next{
            right:0;
            background:url("../images/slider-arrow/arrow-right-mob.svg") 0 0 / 100% no-repeat ;   
            
            @media screen and (min-width: $tablet) {
                    background: url("../images/slider-arrow/arrow-right-tablet.svg") 0 0 / 100% no-repeat;
                }
            
            @media screen and (min-width: $desktop) {
                background: url("../images/slider-arrow/arrow-right.svg") 0 0 / 100% no-repeat;
            }
        }
    }

    & .slick-dots{
        display: flex;
        justify-content: center;
        align-items: center;        
        gap:10px;

        & li{
            list-style: none;            
        }
        & button{
            opacity:0.5;            
            font-size: 0;            
            width:10px;
            height:10px;
            border-radius: 50%;
            background-color:$faint-gray-color;
         }

        & .slick-active button{
            opacity:1;
            border:2px solid $faint-gray-color;
            background-color: transparent;
        }
    }    

}

.blog__slider-item {
    text-align: center;
    margin:0 10px;
    transform: scale(0.8);
    opacity:0.7;    

    @media screen and (min-width: $tablet){
        margin:0 32px;
        
    }    

    &.slick-center{
        transform: scale(1.2);  
        opacity:1;      
        height:100%;
    }
}
